:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.board {
  width: fit-content;
  margin: 40px auto;
  text-align: center;
}

.board h1 {
  color: #eee;
  margin-bottom: 16px;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f1f1f1;
  border: 1px solid #000;
  padding: 30px;
}

.board .game {
  display: flex;
  flex-direction: column;
}

.row,
.cell {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  width: 30px;
  height: 30px;
  margin: 0;
  user-select: none;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 16px;
}

.movements {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.actions {
  width: 100%;
  margin-top: 10px;
}

.button {
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 18px;
}

.version,
.links {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin: 0 10px;
}

img.img_links {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
